<div id="<%= dom_id to_do_item %>">
  <div>
    <strong>Title:</strong>
    <%= to_do_item.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= to_do_item.description %>
  </div>

</div>
