<div id="<%= dom_id completed_to_do_item %>">
  <div>
    <strong>Completed:</strong>
    <%= completed_to_do_item.completed %>
  </div>

  <div>
    <strong>Completed at:</strong>
    <%= completed_to_do_item.completed_at %>
  </div>

</div>
