<% content_for :title, "Editing completed to do item" %>

<h1>Editing completed to do item</h1>

<%= render "form", completed_to_do_item: @completed_to_do_item %>

<br>

<div>
  <%= link_to "Show this completed to do item", @completed_to_do_item %> |
  <%= link_to "Back to completed to do items", completed_to_do_items_path %>
</div>
