<% content_for :title, "New completed to do item" %>

<h1>New completed to do item</h1>

<%= render "form", completed_to_do_item: @completed_to_do_item %>

<br>

<div>
  <%= link_to "Back to completed to do items", completed_to_do_items_path %>
</div>
